
/*------------------------------------
- COLOR Auzul
------------------------------------*/
.alert-Auzul {
    color: #0e2d87;
    background-color: #e1e7fb;
    border-color: #ced9f9;
}

.alert-Auzul hr {
    border-top-color: #b7c7f7;
}

.alert-Auzul .alert-link {
    color: #091d59;
}

.badge-Auzul {
    color: #fff;
    background-color: #2959E8;
}

.badge-Auzul[href]:hover, .badge-Auzul[href]:focus {
    color: #fff;
    background-color: #1542c8;
}

.bg-Auzul {
    background-color: #2959E8 !important;
}

a.bg-Auzul:hover, a.bg-Auzul:focus,
button.bg-Auzul:hover,
button.bg-Auzul:focus {
    background-color: #1542c8 !important;
}

.border-Auzul {
    border-color: #2959E8 !important;
}

.btn-Auzul {
    color: #fff;
    background-color: #2959E8;
    border-color: #2959E8;
}

.btn-Auzul:hover {
    color: #fff;
    background-color: #1747d6;
    border-color: #1542c8;
}

.btn-Auzul:focus, .btn-Auzul.focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 89, 232, 0.5);
}

.btn-Auzul.disabled, .btn-Auzul:disabled {
    color: #fff;
    background-color: #2959E8;
    border-color: #2959E8;
}

.btn-Auzul:not(:disabled):not(.disabled):active, .btn-Auzul:not(:disabled):not(.disabled).active, .show > .btn-Auzul.dropdown-toggle {
    color: #fff;
    background-color: #1542c8;
    border-color: #143dba;
}

.btn-Auzul:not(:disabled):not(.disabled):active:focus, .btn-Auzul:not(:disabled):not(.disabled).active:focus, .show > .btn-Auzul.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 89, 232, 0.5);
}

.btn-outline-Auzul {
    color: #2959E8;
    background-color: transparent;
    border-color: #2959E8;
}

.btn-outline-Auzul:hover {
    color: #fff;
    background-color: #2959E8;
    border-color: #2959E8;
}

.btn-outline-Auzul:focus, .btn-outline-Auzul.focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 89, 232, 0.5);
}

.btn-outline-Auzul.disabled, .btn-outline-Auzul:disabled {
    color: #2959E8;
    background-color: transparent;
}

.btn-outline-Auzul:not(:disabled):not(.disabled):active, .btn-outline-Auzul:not(:disabled):not(.disabled).active, .show > .btn-outline-Auzul.dropdown-toggle {
    color: #fff;
    background-color: #2959E8;
    border-color: #2959E8;
}

.btn-outline-Auzul:not(:disabled):not(.disabled):active:focus, .btn-outline-Auzul:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-Auzul.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 89, 232, 0.5);
}

.list-group-item-Auzul {
    color: #0e2d87;
    background-color: #ced9f9;
}

.list-group-item-Auzul.list-group-item-action:hover, .list-group-item-Auzul.list-group-item-action:focus {
    color: #0e2d87;
    background-color: #b7c7f7;
}

.list-group-item-Auzul.list-group-item-action.active {
    color: #fff;
    background-color: #0e2d87;
    border-color: #0e2d87;
}

.table-Auzul,
.table-Auzul > th,
.table-Auzul > td {
    background-color: #ced9f9;
}

.table-hover .table-Auzul:hover {
    background-color: #b7c7f7;
}

.table-hover .table-Auzul:hover > td,
.table-hover .table-Auzul:hover > th {
    background-color: #b7c7f7;
}

.text-Auzul {
    color: #2959E8 !important;
}

a.text-Auzul:hover, a.text-Auzul:focus {
    color: #1542c8 !important;
}
